* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #CE9FFC, #7367F0);
}

.container {
    width: 400px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    padding: 50px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container h1 {
    margin-bottom: 10px;
}

input {
    height: 50px;
    width: 100%;
    border: solid 1px rgb(167, 167, 167);
    border-radius: 10px;
    font-size: 18px;
    padding-left: 10px;
    border-bottom: solid 2px rgb(167, 167, 167);
    ;
}

.inputBox {
    margin-bottom: 20px;
}

#submit {
    background-image: linear-gradient(to bottom right, #CE9FFC, #7367F0);
    color: white;
}

#submit:hover {
    background-image: linear-gradient(to bottom right, #abbeeb, #e4efe9);

}

input:focus {
    border: none;
    outline: none;
    border: solid 1px rgb(167, 167, 167);
    border-bottom: solid 2px rgb(167, 167, 167);
}

.nameError,
.emailError,
.passwordError{
    text-align: left;
    color: red;
    display: none;
}